.main-photo {
  width: 300px;
  /* height: 250px; */
  border-radius: 50%;
}

#about {
  padding: 3em 0;
}

.about-me {
  display: flex;
  justify-content: center;
}

.about-me-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-div > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.major-icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.major-icons span {
  font-size: 1.1em;
  padding-top: 10px;
}

header.major {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  background-color: #415562;
  color: white;
}

#projects {
  background-color: #404951;
  color: white;
}

#skills {
  background-color: #415562;
  color: white;
}

#projects input[type="button"],
#projects button,
#projects .button {
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
}

#projects input[type="button"]:hover,
#projects button:hover,
#projects .button:hover {
  background-color: rgba(255, 255, 255, 0.125);
}
#projects input[type="button"]:active,
#projects button:active,
#projects .button:active {
  background-color: rgba(255, 255, 255, 0.25);
}
#projects input[type="button"].primary,
#projects button.primary,
#projects .button.primary {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff !important;
  color: #404951 !important;
}

#projects input[type="button"].primary:hover,
#projects button.primary:hover,
#projects .button.primary:hover {
  background-color: rgba(255, 255, 255, 0.125) !important;
  color: #ffffff !important;
}
#projects input[type="button"].primary:active,
#projects button.primary:active,
#projects .button.primary:active {
  background-color: rgba(255, 255, 255, 0.25) !important;
}